
.button {
    position: fixed;
    top: 100px;
    width: 40px;
    height: 48px;
    background: var(--primary);
    border-radius: 0px 100px 100px 0px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background: var(--primary-hover);
    }
}

@media(max-width:611px) {
    .button {
        display: none;
    }
 }

 